.forgot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.form {
  align-self: center;
  text-align: center;
  width: 100%;
  max-width: 450px;
  padding: 1rem;
}

.header {
  margin-bottom: 20px;
}

.title {
  color: #00b5ad;
}

.subtitle {
  font-size: large;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
  border: none;
}

.nav {
  display: contents;
}
