.card {
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-bottom: 1rem;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }

  .content {
    padding: 1rem;

    .meta {
      color: rgba(black, 0.4);
      margin-bottom: 0.5rem;
    }

    .description {
      color: rgba(black, 0.68);
    }
  }

  .extra {
    border-top: 1px solid rgba(black, 0.05);
    padding: 1rem;

    .buttons {
      float: right;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

ul li ul {
  background: teal;
  border-radius: 7%;
  visibility: hidden;
  opacity: 0;
  min-width: max-content;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
